.navbar {
    background-color: #19282C;
    width: 100%;
    padding: 1vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}


.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline-block;

}

.navbar a {
    text-decoration: none;
    color: #ffffff;

}

.navbar a:hover {
    color: #E6A486;
}

.navbar img {
    position: center;
    margin-left: 0.5em;

}
